<!DOCTYPE html>
<html>

  <head>
    <title> Lockdown simulator </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
<meta name="viewport" content="initial-scale=1.0" />

 <style>
      * {
      margin:0;
      padding:0;
    }
    </style>

    <script type="text/javascript" src="javascripts/phaser.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </head>

  <body class="game">

    <div id="gameDiv"> </div>

    <div class="box2">Made by Jack Webb instead of applying for jobs. Copied from <a href="http://www.lessmilk.com/game/the-square/" target="_blank">lessmilk.com</a>.
    </div>


</body>
</html>
